/************************** Altalanossagok ****************************/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background-color: var(--kek-1);
    color: var(--feher);
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;

    background-image: linear-gradient(
        to right bottom,
        var(--kek-1),
        var(--kek-2-hatter)),
        url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2rem;
    color: var(--feher);

    text-align: center;
}

a {
    text-decoration: none;
    color: var(--sarga-1);

    transition: .3s;

    backface-visibility: hidden;
}

a:hover{
    transform: scale(1.08);
    color: var(--sarga-2);
}

.btn {
    margin-left: 1rem;
    border: 2px var(--kek-1) solid;
    border-radius: 1rem;

    background-color: var(--feher);
    
    text-align: center;
    font-size: 1rem;
    color: var(--kek-1);
    font-weight: 600;
    text-transform: uppercase;

    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 10rem;
    height: 2rem;

    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2) translateY(-.1rem) rotate(-3deg);
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .3);

    transition: all .3s;
}

.btn--non {
    opacity: .3;
    cursor: not-allowed;
}

.btn--non:hover{
    transform: translateY(0) scale(1) rotate(0);
    box-shadow: none;
}

.form__text{
    outline: none;
    border: none;
    border-radius: 1rem;
    height: 2rem;

    background-color: var(--feher-hatter);
    color: var(--kek-1);
    font-weight: 600;
    text-align: center;
}

.form__text:focus {
    transform: scale(1.03);
    background-color: var(--feher-hatter-2);
    transition: all .3s;
}

/**************************** footer *********************************/
    .footer{
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 5vh;

        border-top: solid 1px var(--feher);
        background-color: var(--barna-1);

        color: var(--feher);
        font-size: .8rem;
        font-weight: 50;
        letter-spacing: .7rem;

        backface-visibility: hidden;
    }

    .footer__elvalaszto{
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

/****************************** Cim **********************************/
    .title{
        position: absolute;
        display: block;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title__span--1{
        display: inline-block;
        animation-name: CimIntro1;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }

    .title__span--2{
        color: var(--sarga-1);
        transform: translateX(-2.5rem);
        display: inline-block;
        animation-name: CimIntro2;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }


/********************** Alkalom kerdoiv *************************/
    .form__alkalom {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
    }

    .form__alkalom--text {
        width: 30vw;
        min-width: 13rem;
    }

/**************************  Fo felulet  ****************************/

    /*dobozok*/

    .container{
        display: block;
        height: 82vh;
    }

    .keret{
        display: none; /*javascript teszi majd flex-sze.*/
        flex-direction: column;

        position: relative;
        top: 10vh;

        width: 96vw;

        margin: 0 auto;
        overflow: hidden;

        background-color: var(--feher-hatter);

        font-size: 1.2rem;
    }

    .fejlec{
        background-color: var(--feher-hatter);
        position: relative;
        
        width: 100%;
        height: 4vh;
        border-top: dashed 2px var(--kek-2);
        border-bottom: dashed 2px var(--kek-2);

        color: var(--kek-1);
        text-transform: uppercase;
        text-align: center;

        transition: all .8s;
    }

    .fejlec--aktiv{
        background-color: var(--feher);
        color: var(--kek-1);
        border-top: solid 2px var(--kek-1);
        border-bottom: solid 2px var(--kek-1);

        color: var(--kek-1);
    }

    /*menuablakok*/

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 0;

        padding: 2vw;
        padding-bottom: 0;
        padding-top: 0;
        transition: all .8s;

        overflow: hidden;
    }

    .menu__keret{
        width: 100%;
        height: 98%;
        
        display: flex;
        flex-direction: row;
        
        justify-content: center;
    }

    .menu__form{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu__lista{
        width: 50%;
        padding: 1rem;
    }

    .listaelem{
        margin-bottom: .2rem;
        display: flex;
        flex-direction: row;
    }

    .listaelem__szoveg{
        background-color: var(--feher-hatter);
        padding-left: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;

        border: 2px solid var(--kek-1);

        color: var(--kek-1);
    }

    .listaelem__szoveg--hiba{
	background-color: var(--bordo-hatter);

	border: 2px solid var(--bordo);
    }

    /*leptetogombok*/

    .pageturn{
        position: relative;

        display: block;

        width: 1.5rem;
        height: 2.5%;

        background-color: var(--feher-hatter);

        transition: background-color .8s;

        cursor: pointer;
    }

    .pageturn__icon{
        position: relative;
        margin: auto;
        margin-top: 15%;
        display: block;

        width: 1rem;
        height: .5rem;

        background-image: linear-gradient(
            to bottom,
            var(--kek-1),
            var(--kek-2)
        );
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    .pageturn:hover{
        animation-duration: 1s;
        animation-iteration-count: infinite;

        background-color: transparent;
    }

    .next{
        bottom: .25rem;
    }

    .next__icon{
        clip-path: polygon(0 0, 20% 0, 50% 65%, 80% 0, 100% 0, 50% 100%, 0 0);
    }

    .next:hover {
        animation-name: nextHover;
    }

    .prev{
        top: .25rem;
    }

    .prev__icon{
        clip-path: polygon(0 100%, 20% 100%, 50% 35%, 80% 100%, 100% 100%, 50% 0, 0 100%);
    }

    .prev:hover{
        animation-name: prevHover;
    }

/*egyes menupontok*/
    /*resztvevok*/
        #resztvevok__fejlec{
            top: 0;
            left: 0;
        }

        .resztvevok__menu__keret{
            align-items: center;
        }

        .resztvevok__form{
            width: 50%;
        }

        .resztvevok__form__text{
            width: 30vw;
        }

        .rv__lista{
            display: flex;
            flex-direction: column;

            list-style: none;
        }

        .rv__nev{
            width: 30vw;
        }

    /*koltsegek*/
        .koltsegek__menu__keret{
            align-items: start;
        }

        .koltsegek__bal{
            position: relative;
            display: flex;
            flex-direction: column;

            margin-top: .5rem;

            justify-content: start;

            width: 50%;
        }

        /*kerdoiv*/
            .koltsegek__form{
                height: 2rem;
                width: 95.5%;
                margin-top: .2rem;
            }

            .koltsegek__koltsegnev{
                width: 37.5%;
            }

            .koltsegek__span{
                margin-left: .5rem;
                margin-right: .5rem;
            }

            .koltsegek__fizette{
                width: 25%;
            }

            .koltsegek__ar{
                width: 12.5%;
            }

        /*lista*/
	    .koltsegek__magyarazat{
		height: 7.4rem;
		padding: .5rem;
		padding-left: .25rem;
	    }

            .koltsegek__lista{
                width: 100%;
                padding-left: .25rem;
                padding-top: 0;
            }

            .ktg__listasor{
                width: 100%;
                height: 2rem;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            .koltsegek__elem{
                margin-left: .85rem;
                margin-right: .85rem;
            }

            .ktg__nev{
                width: 45%;
                margin-left: 0;
            }

            .ktg__fizette{
                width: 30%;
            }
            
            .ktg__ar{
                width: 15%;
            }

            /*Lakat*/

                .lakat{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 2rem;
                    height: 2rem;
                    margin-left: .75rem;
                    margin-right: 0;
                    transition: all .3s;

                    cursor: pointer;
                }
                .lakat:hover{
                    transform: scale(1.1);
                    backface-visibility: hidden;
                }

                .lakat--teteje{
                    height: .8rem;
                    width: .8rem;

                    background-color: var(--kek-1);

                    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 25% 100%, 25% 25%, 75% 25%, 75% 100%, 100% 100%);
                    border-radius: .4rem .4rem 0 0;
                }

                .lakat-nyitott{
                    transform: translateX(-.6rem);
                }

                .lakat--alja{
                    padding: .4rem;

                    width: 1.2rem;
                    height: 1.2rem;

                    background-color: var(--kek-1);

                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 0 0,
                                        /*kulcslyuk*/
                                        37.5% 25%, 62.5% 25%, 62.5% 50%, 55% 50%, 62.5% 75%, 37.5% 75%, 45% 50%, 37.5% 50%, 37.5% 25%);
                }

            /*szerkesztesi menu*/
            .ktg__edit--nev{
                width: 41%;
                margin-left: 0;
            }

            .ktg__edit--fizette{
                width: 29%;
            }

            .ktg__edit--ar{
                width: 13%;
            }

        /*tablazat*/

            .koltsegek__tablazat{
		        margin-left: 1.5rem;
                margin-top: .5rem;
                width: 50%;
            }

            #koltsegek__tablazat--nevsor{
                height: 7rem;
                display: flex;
            }

            .tablazat--fejlec-nev{
                margin-left: .1rem;
                margin-right: .1rem;
                padding-left: .4rem;
                width: 2rem;
                height: 7rem;

                background-color: var(--feher-hatter);

                writing-mode: vertical-lr;
                text-align: center;
                font-size: .8rem;
            }

            .koltsegek__tablazat--sor{
                margin-top: .2rem;
                display: flex;
            }

            .koltsegek__rubrika{
                width: 2rem;
                height: 2rem;
                margin: .1rem;
                margin-bottom: 0;
                margin-top: 0;

                position: relative;

                perspective: 8rem;
            }

            .koltsegek__checkbox{
                display: none;
            }

            .koltsegek__rubrika--ures,
            .koltsegek__rubrika--teli{
                width: 100%;
                height: 100%;

                position: absolute;
                margin: auto;

                backface-visibility: hidden;
                transition: .4s;

                cursor: pointer;
            }

            .koltsegek__rubrika--ures{
                background-color: var(--feher-hatter);
            }

            .koltsegek__rubrika--teli{
                transform: rotateY(-180deg);
                background-color: var(--kek-2);
            }

            .koltsegek__rubrika:hover .koltsegek__rubrika--ures{
                transform: rotateY(180deg);
            }

            .koltsegek__rubrika:hover .koltsegek__rubrika--teli{
                transform: rotateY(0deg);
            }

	    .koltsegek__checkbox:checked ~.koltsegek__label > .koltsegek__rubrika--ures{
		background-color: var(--kek-1);
	    }

    /*tartozasok*/

        .tartozasok__bal{
            width: 20%;
            left: 1rem;
        }

        .tartozasok__jobb{
            width:80%;
        }

        #tartozasokmatrix__fejlec{
            margin: .5rem 0 .1rem 7.1rem;
            display: flex;
            flex-direction: row;
        }

        .tartozas__nev-fuggoleges {
            width: 4rem;
            padding-left: 1.45rem;
        }

        .tartozas__nev-vizszintes {
            width: 7rem;
            height: 2rem;
        
            background-color: var(--feher-hatter);
            text-align: center;
            font-size: .8rem;

            margin: .1rem;
            margin-left: 0;
            padding-top: .4rem;
        }

        .tartozasok__sor{
            display: flex;
            flex-direction: row;
        }

        .tartozasok__rubrika {
            position: relative;
            width: 4rem;
            height: 2rem;

            background-color: var(--feher-hatter-2);
            text-align: center;
            font-size: .8rem;

            margin: .1rem;
            padding-top: .4rem;
        }

        .tartozasok__rubrika:hover::after{
            content: attr(reszletek);

            position: absolute;
            top: .4rem;
            left: .4rem;
            z-index: 1000;

            background-color: var(--feher);
            border: 1px solid var(--kek-1);
            color: var(--kek-1);

            width: 10rem;
            padding: .4rem;
        }

/********************** Backend menu ****************************/

#be_menu{
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 10rem;

	display: flex;
	flex-direction: column;
}

#be_menu_container{
	height: 2.5rem;

	display: flex;
	flex-direction: row;

	justify-content: space-evenly;
}

#be_menu_text{
	margin-top: .6rem;
	font-size: .8rem;
	text-align: center;
	color: var(--sarga-1);
}

.be_menu_element{
	width: 2rem;
	height: 2rem;

	margin: .5rem;

	background-color: white;

	cursor: pointer;
}

.be_menu_element:hover{
	transform: scale(1.3);
	background-color: var(--sarga-1);
	transition: .5s;
}

#delete{
	clip-path: polygon(25% 0, 50% 25%, 75% 0, 100% 25%, 75% 50%, 100% 75%, 75% 100%, 50% 75%, 25% 100%, 0 75%, 25% 50%, 0 25%, 25% 0);
}

#load{
	clip-path: polygon(15% 100%, 95% 100%, 100% 50%, 92% 50%, 92% 80%, 95.5% 96.5%, 95% 100%, 80% 50%, 10% 50%, 10% 12%, 25% 12%, 25% 0, 10% 10%, 25% 10%, 25% 12%, 27% 12%, 27% 0, 90% 0, 90% 78%, 82% 48%, 10% 48%, 10% 50%, 0 50%, 15% 100%);
}

#save{
	clip-path: polygon(0 5%, 5% 0, 12% 0, 12% 30%, 88% 30%, 88% 0, 86% 0, 86% 28%, 14% 28%, 14% 0, 18% 0, 18% 24%, 28% 24%, 28% 4%, 18% 4%, 18% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 90% 100%, 90% 35%, 10% 35%, 10% 36%, 89% 36%, 89% 89%, 11% 89%, 11% 36%, 10% 36%, 10% 90%, 90% 90%, 90% 100%, 5% 100%, 0 95%, 0 5%);
}

.be_screen{
	position: fixed;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	z-index: 300;
	background-color: var(--fekete-atlatszo);
}

.btn_be{
	width: 5rem;
	margin-left: 0;
}

.be_window{
	width: 20vw;
	height: 20vw;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	padding: 2rem;

	background-image: linear-gradient(
		to bottom left,
		var(--kek-1),
		var(--kek-2)
	);

	box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .5);

	border: solid 3px var(--sarga-2);
}

.be_title{
	font-size: 1.2rem;
	color: var(--sarga-2);

	text-transform: uppercase;
	text-align: center;
}


/************************** Save screen *****************************/

#be_save_form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 10vw;
}